section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;

    img {
        width: 10rem;
        height: 10rem;
    }

    h1{
        line-height: 36px;
    }

    .intro_message{
        display: none;
    }

    .loginImg{
        display: none;
    }

    .description{
        display: none;
    }

    button {
        cursor: pointer;
        background: linear-gradient(180deg, #C000FE 0%, #8000FF 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        border: none;
        margin: 1rem 0;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 18px;
    }

    button:hover {
        transition: 0.2s all ease-out;
        background: linear-gradient(180deg, #8000FF 0%, #C000FE 100%);
    }

    button:active {
        transition: 0.2s all ease-out;
        background: linear-gradient(180deg, #C000FE 0%, #8000FF 100%);
    }

    input{
        border-radius: 24px;
        border: none;
        outline: none;
        padding: 1rem;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 18px;
        background: #303030;
    }

    form {
        width: 100%;
    }
}

@media (min-width:992px){
    section{
        justify-content: unset;
        padding: 7vh 7vw 0 7vw;
        align-items: unset;

        img{
            align-self: flex-start;
            height: 4em;
            width: 4em;
        }

        h1{
            display: none;
        }

        input{
            width: 20%;
            height: 30%;
            font-size: 1.2em;
            margin-bottom: 2%;
        }

        .intro_container{
            display: flex;
            width: 25em;
        }

        .loginImg{
            display: block;
            position: absolute;
            top: 16vh;
            right: 9vw;
            width: 40vw;
            height: 40vw;
        }

        .description{
            display: block;
            margin-bottom: 5%;
        }

        p{
            width: 30em;
            font-size: 1.1em;
        }

        .intro_message{
            display: flex;
            font-size: 3em;
            color: #BB01F3;
            line-height: 7vh;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            height: 30%;

            p{
                font-size: 0.9em;
            }
        }

    }
}