section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;

    .logoContainer {
        img {
            width: 4rem;
            height: 4rem;
            margin: 1rem;
        }
        h1 {
            display: none;
        }

        position:absolute;
        top:0;
    }

    h1 {
        line-height: 36px;
        color: #bb01f3;
        span {
            color: white;
        }
    }

    .intro_message {
        display: none;
    }

    .loginImg {
        display: block;
        width:  clamp(20rem, 40vw, 100rem);
    }

    .description {
        display: none;
    }

    button {
        cursor: pointer;
        background: linear-gradient(180deg, #c000fe 0%, #8000ff 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        border: none;
        margin: 1rem 0;
        width: 100%;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 18px;
    }

    button:hover {
        transition: 0.2s all ease-out;
        scale: (0.97);
        background: linear-gradient(180deg, #8000ff 0%, #c000fe 100%);
    }

    button:active {
        transition: 0.2s all ease-out;
        background: linear-gradient(180deg, #c000fe 0%, #8000ff 100%);
    }

    input {
        border-radius: 24px;
        border: none;
        outline: none;
        padding: 1rem;
        width: 100%;
        color: var(--color-group-2);
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 18px;
        background: var(--color-group-4);
    }

    form {
        width: 100%;
    }
}

@media (min-width: 992px) {
    section {
        justify-content: unset;
        padding: 7vh 7vw 0 7vw;
        align-items: unset;

        .logoContainer {
            position: relative;
            display: flex;
            align-items: center;
            img {
                align-self: flex-start;
                height: 4em;
                width: 4em;
                margin: 0;
            }

            h1 {
                display: block;
                color: #bb01f3;
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
                margin: 0;
            }
        }

        h1 {
            display: none;
        }

        .intro_container {
            display: flex;
            width: 30em;
        }

        .loginImg {
            display: block;
            position: absolute;
            top: 16vh;
            right: 9vw;
            width: 40vw;
            height: 40vw;
        }

        .description {
            display: block;
            margin-bottom: 5%;
        }

        p {
            width: 30em;
            font-size: 1.1em;
        }

        .intro_message {
            display: flex;
            font-size: 3em;
            color: #bb01f3;
            line-height: 7vh;
        }

        form,
        .OTPContainer {
            max-width: 300px;
            button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 30%;

                p {
                    font-size: 0.9em;
                }
            }
            input {
                font-size: 1.2em;
                margin-bottom: 2%;
                width: 100%;
            }
        }
    }
}
