.loginImg {
    display: block;
    width: 100vw;
    height: 45vh;
}

.phoneModel {
    display: block;
    position: absolute;
    top: 10rem;
    width: 100vw;
    height: 45vh;
}

@media (min-width: 992px) {
    .loginImg, .phoneModel {
        position: absolute;
        top: 5vh;
        right: 9vw;
        width: 40vw;
        height: 40vw;
    }
}