.loginImg {
    display: block;
    width: 100vw;
    height: 45vh;
}

.phoneModel {
    display: block;
    position: absolute;
    top: 7rem;
    width: 100vw;
    height: 45vh;
}

@media (min-width: 992px) {
    .loginImg, .phoneModel {
        position: absolute;
        top: 5vh;
        right: 5vw;
        width: clamp(30rem, 50vw, 50rem);
        height: clamp(30rem, 50vw, 90vh);
    }
}
