#chat {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    #chatContainer {
        width: 100%;
        // height: 80vh;
        display: flex;
        flex-direction: column;
        margin: 10vh 0 10vh;
        padding: 1rem 0;
        overflow-y: scroll;

        @media (orientation: landscape) {
            margin: 19vh 0vh 10vh 0vh;
        }

        @media (max-height: 365px) {
            margin: 25vh 0vh 21vh 0vh;
        }

        .no_messages {
            text-align: center;
        }
    }

    .loading {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        h1,
        h3 {
            text-align: center;
        }
    }

    .blocked,
    .banned {
        position: fixed;
        bottom: 0;
        width: 100%;
        right: 0;
        p {
            text-align: center;
            color: var(--color-group-2);
        }
    }
    .blocked {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--isBlocked-color) 100%);
    }
    .banned {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 75, 75, 0.5) 100%);
    }

    .sendContainer {
        position: fixed;
        bottom: -1px;
        width: 100%;
        min-height: 10vh;
        padding: 0.5rem;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 50px;
        background: var(--bg-color);

        textarea {
            font-family: "Poppins";
            font-size: 1rem;
            width: 100%;
            height: 100%;
            padding: 1rem;
            resize: none;
            background: var(--color-group-4);
            border-radius: 24px;
            border: none;
            outline: none;
            color: var(--color-group-2);
        }

        button {
            min-width: 40px;
            background: none;
            border: none;
            outline: none;
            padding: 10px;

            &:active,
            &:hover {
                transition: all 0.4s;
                scale: (0.9);
            }

            svg {
                height: auto;
                width: 100%;
            }
        }
    }
    .navContainer {
        nav {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    #chat {
        #chatContainer,
        .loading {
            padding: 3vh 2vw 2vh 17vw;
        }
        .sendContainer,
        .banned,
        .blocked {
            right: 0;
            width: 85vw;
            textarea {
                font-size: 1rem;
            }
            button {
                border-radius: 100px;
                margin: 5px;

                svg {
                    max-width: 50px;
                }
            }
        }
        .navContainer {
            nav {
                display: flex;
            }
        }
    }
}
