#settings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    .container {
        padding: 5em 1em 5em 1em;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        overflow-y: scroll;
    }

    .switch_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        z-index: 1;

        p {
            font-weight: 500;
            color: var(--text-color);
        }
    }

    .setting_avatar {
        display: flex;
        background: linear-gradient(180deg, #c000fe 0%, #8000ff 100%);
        border-radius: 50%;
        padding: 5px;
        img {
            width: 6rem;
            border-radius: 50%;
        }
    }

    .setting_name {
        display: flex;
        h3 {
            font-weight: 500;
            font-size: 1.6em;
        }
    }

    .userInfo {
        display: flex;
        width: 100%;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .inputFields {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 24px;
                background-color: var(--color-group-3);
                padding: 5%;
                width: 17em;
                height: 12em;
                margin-bottom: 3%;

                label {
                    display: flex;
                    align-items: flex-start;
                    font-weight: 500;
                    font-size: 0.8em;
                }

                input {
                    display: flex;
                    width: 100%;
                    background-color: inherit;
                    border: none;
                    border-bottom: 0.5px solid #303030;
                    margin-bottom: 2%;

                    color: var(--color-group-2);
                    font-family: inherit;
                    font-weight: 500;

                    &:focus:enabled,
                    &:active:enabled,
                    &:hover:enabled {
                        outline: none;
                        border-bottom-color: #8000ff;
                    }
                    &:disabled {
                        border-bottom-color: --color-group-4;
                    }
                    &:invalid {
                        border-bottom-color: #ff3b3b;
                    }
                }
                .userName {
                }
                .Email {
                }
                .phoneNumber {
                    border-bottom: none;
                }
            }
        }
    }

    .setting_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2.5em;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--color-group-2);
            font-family: inherit;
            font-weight: 400;
            cursor: pointer;

            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            width: 9em;
            height: 2.3em;
            margin: 0% 1% 0% 1%;

            &:hover {
                transition: 0.2s all ease-out;
                scale: (0.97);
                background: var(--nav-color);
            }
        }

        .edit {
            background-color: var(--color-group-3);
        }
        .cancel {
            background-color: transparent;
            box-shadow: none;
        }
        .save {
            background: linear-gradient(180deg, #c000fe 0%, #8000ff 100%);
            color: #ffffff;
            &:hover {
                background: linear-gradient(180deg, #8000ff 0%, #c000fe 100%);
            }
        }
    }

    .optIn {
        margin-bottom: 2.5em;
        span {
            font-family: inherit;
        }
        :last-child {
            color: var(--color-group-2);
        }
    }

    .signOut {
        display: flex;
        button {
            align-items: center;
            justify-content: center;

            color: #ffffff;
            font-family: inherit;
            font-weight: 400;
            cursor: pointer;

            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            width: 9em;
            height: 2.3em;

            background-color: #f34949;

            margin-bottom: 3%;

            &:hover {
                transition: 0.2s all ease-out;
                scale: (0.97);
                background: #ee6060;
            }
        }
    }
}

@media (min-width: 992px) {
    #settings {
        height: 100vh;
        padding: unset;

        .container {
            width: 100vw;
            padding: 13vh 2vw 0vh 17vw;
        }

        .switch_container {
            align-items: center;
            max-width: 40vw;
            transform: scale(1.1);
        }

        .setting_avatar {
            img {
                width: 8rem;
                height: auto;
            }
        }

        .setting_name {
            height: 7vh;
            align-items: center;
            h3 {
                font-size: 2em;
            }
        }

        .userInfo {
            form {
                .inputFields {
                    width: 30vw;
                    height: 30vh;
                    padding: 0% 2%;
                    label {
                        font-size: 1em;
                    }
                    input {
                        font-size: 0.9em;
                    }
                }
            }
        }

        .setting_buttons {
            margin-bottom: 2.5vh;
            button {
                width: 10em;
                height: 2.5em;
                font-size: 1em;
            }
        }

        .optIn {
            span {
                font-size: 1.2em;
                font-family: inherit;
                font-weight: 500;
                color: #ffffff;
            }
        }

        .signOut {
            button {
                width: 10em;
                height: 2.5em;
                font-size: 1em;

                margin-bottom: 5vh;
            }
        }
    }
}
