.bubble{
    &#fromBubble{
        background: linear-gradient(180deg, #C000FE 0%, #8000FF 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        float: right;
        color: #ffffff;
    }   
    &#toBubble{
        background: var(--color-group-4);
    }

    .time{
        font-size: 0.8rem;
        text-align: center;
        margin: 0
    }

    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    width: 75%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height:21px;
    font-size: 1rem;
}

@media (min-width:992px){
    .bubble{
        width: 47vw;
        font-size: 1.1rem;

        .time{
            font-size: 1rem;
        }
    }
}