#compose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .loading,
    .banned {
        padding: 4.5em 0em 4em 0em;
        overflow-y: scroll;
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        h1,
        h3 {
            text-align: center;
        }
        @media (orientation: landscape) {
            h1{
                margin-top: 5em;
            }
        }
    }

    #timerMessage{
        margin-top: 5%;
        display: flex;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        *{
            text-align: center;
            font-weight: 400;
        }
        :nth-child(2){
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .error {
        z-index: 3;
    }

    .container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 4.5em 0em 4em 0;
    }

    .title {
        display: flex;
        justify-content: center;

        h1 {
            font-weight: normal;
            font-size: clamp(1.125rem, 0.9938rem + 0.75vw, 1.5rem);
            text-align: center;
        }
    }

    .mssg_box {
        display: flex;
        justify-content: center;
        align-items: center;

        .form {
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
        }

        textarea {
            display: flex;
            font-size: 0.9rem;
            font-family: inherit;

            color: var(--color-group-2);
            background-color: var(--color-group-4);

            width: 80vw;
            max-width: 80vw;
            max-height: 40vh;
            height: auto;

            outline: none;
            border: none;
            resize: none;

            border-radius: 25px;
            padding: 5%;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none;
            }
        }
        .submit_buttons {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 340px) {
                flex-direction: column;
                button {
                    margin-bottom: 3%;
                }
            }
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            padding: 5%;

            button {
                display: flex;
                flex-direction: column;

                width: 9em;
                height: 4.5em;

                background: #cbcbcb;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 24px;
                border: none;
                cursor: pointer;

                text-align: center;
                font-weight: 500;
                font-family: inherit;
                font-size: 1em;

                justify-content: center;
                align-items: center;

                transition: all 0.2s;

                * {
                    margin-bottom: 5%;
                }

                &:disabled {
                    cursor: not-allowed;
                    filter: brightness(0.5);
                }
            }

            .submit_single {
                color: #303030;

                &:hover:enabled {
                    transition: 0.2s all ease-out;
                    scale: (0.97);
                    background: #d0d0d0;
                }

                svg {
                    height: 1.5em;
                }
            }

            .submit_batch {
                color: white;
                background: linear-gradient(180deg, #c000fe 0%, #8000ff 100%);

                &:hover:enabled {
                    transition: 0.2s all ease-out;
                    scale: (0.97);
                    background: linear-gradient(180deg, #8000ff 0%, #c000fe 100%);
                }

                svg {
                    height: 1.5em;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #compose {
        .container,
        .loading,
        .banned {
            padding: 3vh 2vw 2vh 17vw;
            h1{
                margin-top: 0em;
            }
        }
        .mssg_box {
            textarea {
                font-size: 1.1em;
            }

            .submit_buttons {
                button {
                    width: 25vw;
                    height: 10vh;

                    font-size: 1.2em;
                    padding: 4rem 0;

                    * {
                        margin-bottom: 1vh;
                    }
                }
            }
        }
    }
}
