#navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    box-shadow: 0 0 3px #303030;
    background-color: rgb(18,18,18);
    overflow-x: auto;
    display: flex;

    
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;

        p{
            margin: 1%;
            font-size: 0.9em;
        }
    }
}

@media (min-width:992px){
    #navbar{
        padding: 4em 0 0 1.5em;
        bottom: unset;
        left: 0;
        width: 15vw;
        height: 100%;
        flex-direction: column;
        background-color: #2A2A2A;
        z-index: 5;

        a{
            flex-direction: row;
            flex-grow: 0;
            font-size: 1.3em;
            margin-bottom: 15%;
            justify-content: flex-start;

            p{
                margin-left: 1vw;
            }
        }
    }
}