#chatHeader {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 5.5em;
    background: var(--bg-color);

    .chatInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 40px;
            height: auto;
            border-radius: 100%;
            background-color: #ffffff;
            border: 2px solid #8000ff;
        }
        p {
            margin: 0;
            font-weight: 500;
            text-align: center;
            width: 50vw;
            white-space: normal;
            word-break: break-word;
        }
    }

    button {
        display: flex;
        align-items: center;
        position: absolute;
        border: none;
        outline: none;
        background: none;
        left: 0;
        top: 0;
        height: 100%;

        svg {
            height: 100%;
            max-height: 40px;
            padding: 1rem;
        }
        &:hover {
            transition: all 0.3s;
            scale: (0.80);
        }
    }
}

@media (min-width: 992px) {
    #chatHeader {
        height: 13vh;
        left: 15vw;
        .chatInfo {
            margin-right: 15vw;
            img {
                width: 45px;
                border: 0.2em solid #8000ff;
            }
            p {
                font-size: 1rem;
            }
        }
        button {
            // border-radius: 200%;
            margin: 0 1rem;
        }
    }
}
