@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-bg-color: #121212;
  --main-text-color: #BBBBBB;
  --light-bg-color: #FFFFFF;
  --light-text-color: rgba(48, 48, 48, 1);
  
  color: var(--main-text-color); 
  background: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing:border-box;
  user-select: none;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  font-family: 'Poppins';
  overflow-x: hidden;
  scrollbar-width: thin;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background:transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(171,171,171);
  -webkit-border-radius: 2ex;
}